#email {
  max-width: 400px;
}
#password {
  max-width: 400px;
}

#mess {
  align-items: center !important;
  text-align: center !important;
  max-width: 800px !important;
}

#image {
  max-height: 100px;
}

#hdf {
  font-size: x-large;
  font-weight: bold;
}

Button {
  background-color: #275D7B !important ;
  color: white !important;
  border-radius: 50px !important;
  padding: 20px;
  width: 200px;
  height: 50px;
}
input {
    border-radius: 50px !important;
    padding: 20px;
    width: 200px;
    height: 50px;
  
}