html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px);
  padding: 0 0 100px;
  position: relative;
}